<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229857158544-c29cber81i35tue28en86t3m5sec3403.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229857158544-c29cber81i35tue28en86t3m5sec3403</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229857158544-20mfmlb24kqbdo91vcgolrul9lkr2l0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPKWBKdLiYzzWYnsL3qcaGEes-fDGZSJU</string>
	<key>GCM_SENDER_ID</key>
	<string>229857158544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testimonytechnologies.Gists</string>
	<key>PROJECT_ID</key>
	<string>ekaleerwe</string>
	<key>STORAGE_BUCKET</key>
	<string>ekaleerwe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229857158544:ios:418cab875debd1ca9b7f15</string>
</dict>
</plist>